.venv
*.egg-info
__pycache__
dist
build
*.pyc
.idea
.vscode
.mypy_cache
.pytest_cache
coverage
htmlcov
.tox
.env
.env.*
.cache
.ipynb_checkpoints
*.log
.DS_Store
*.sqlite3
*.db
*.pyd
*.pyo
*.swp
*.swo
*.bak
*.orig
*.rej
uv.lock